.container {
  color: #ffffff;
}

.main {
  background-color: #1e1e1e;
  color: #ffffff;
  padding: 20px;
}

.primaryButton {
  /* background-color: #007bff; */
  background: linear-gradient(45deg, violet, blue);
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.primaryButton:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.primaryButton:active {
  background-color: #004080;
  transform: translateY(0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.primaryButton:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.previewImage {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}
