.profile {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.profileLink {
  text-decoration: none;
  color: inherit;
  transition: 0.5s all ease-in-out;
  position: relative;
  overflow: hidden;
  /* border-radius: 50px; */
  /* padding: 0.2rem; */
}

.profile {
  border-radius: 50px;
  transition: 0.5s all ease-in-out;
  display: inline-flex;
  margin: 0.2rem;
  padding: 0.2rem;
}

.profile:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  color: #fff;
  transform: scale(1.05);
  transform: translateX(5px);
}

/* .profileLink:hover {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    color: #fff;
} */

/* .profileLink::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: radial-gradient(circle, rgba(255, 255, 255, 0.4), transparent 70%);
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

.profileLink:hover::before {
    opacity: 1;
} */
